# Data Cleaning 

Author: Preeya Sawadmanod 

---

In this notebook we clean the collected tweets by removing the following:

- Duplicates
- Null values
- Punctuation
- URL 
- _@_ Retweet tags
- Stop words

Additionally, we convert our timestamp to a datetime object. After the conversion we use the timestamp to further reduce our data by limiting tweets from 27th October 2012 to 13th November 2012. This way we eliminate as much noise as possible, because people were tweeting about Hurricane Sandy prior and after the disaster, but not to ask for help. 

## Table of Contents 
--- 

- [Import Packages](#Import-Packages)
- [First look](#First-look)
- [Duplicates](#Duplicates)
- [Timestamp](#Timestamp)
- [Steps of cleaning](#Steps-of-cleaning)

### Import Packages

In [1]:
#Import miscellaneous
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#Load additional libraries 
import pandas  as pd
import numpy   as np
import regex   as re

#Load packages from NLTK 
from nltk.stem         import WordNetLemmatizer
from nltk.tokenize     import RegexpTokenizer
from nltk.corpus       import stopwords

### First look

In [2]:
#Reading in data frame 
df = pd.read_csv('../data/df_new.csv')
df.head()

,id,location,text,timestamp,user
0,97559123,Boston,Please come help end childhood stroke @Aly_Rai...,2012-10-18 22:52:29,tinyytinna
1,165524230,Boston,@Aly_Raisman please come and support my bestfr...,2012-10-18 22:31:11,kwolinski3
2,97559123,Boston,Help end childhood stroke meet childhood strok...,2012-10-18 22:24:14,tinyytinna
3,131966514,Boston,What's to eat at white hall. Someone help.,2012-10-18 22:01:27,mikeykauf
4,799086546,Boston,we fuss & fight then the next day we tight thi...,2012-10-18 21:55:34,NayGawd

In [3]:
# Get the size of data frame 
total_rows = df.shape[0]
print(f'There are {total_rows} rows.')

There are 25440 rows.

In [4]:
df.dtypes

id           object
location     object
text         object
timestamp    object
user         object
dtype: object

**Observation:** Timestamp is an object and needs to be converted into a datetime object.

In [5]:
df.isnull().sum()

id             0
location       2
text           0
timestamp      1
user         907
dtype: int64

**Observation:** We are going to drop our null values in `location` and in `timestamp` as 1 and 2 missing rows won't affect our overall result

In [6]:
df.dropna(subset=['timestamp', 'location'], axis = 0, inplace=True)

In [7]:
df['location'].unique()

array(['Boston', 'Philadelphia', 'Providence', 'Washington DC', 'Buffalo',
       'Toronto', 'Montreal', 'Long Beach', 'Richmond', 'New York City'],
      dtype=object)

**Observation**: After we pulled all the data, we decided to drop the locations Toronto and Montreal, because after additional researach we discovered that hurricane Sandy did not have a significant impact that far north.

In [8]:
df.drop(axis = 0, index=df.loc[df['location'] == "Toronto"].index, inplace=True)
df.drop(axis = 0, index=df.loc[df['location'] == "Montreal"].index, inplace=True)

### Duplicates

Checking for duplicates in text

In [9]:
print(f"There are {df['text'].duplicated().sum()} rows of duplicates")

There are 1478 rows of duplicates

In [10]:
#Dropping duplicates
df.drop_duplicates(subset=['text'], inplace=True)

In [11]:
#Checking if the rows are dropped 
df.shape

(14147, 5)

### Timestamp

1. Changing Timestamp into a day-time object
2. Filtering through Timestamp of Hurricane Sandy to extract tweets during the disaster by specifying start date and end date.

In [12]:
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)

In [13]:
start_date = '2012-10-27'
end_date = '2012-11-13'

time_hurricane = (df['timestamp'] > start_date) & (df['timestamp'] <= end_date)
df = df[time_hurricane]

In [14]:
# Get the size of data frame 
total_rows = df.shape[0]
print(f'There are {total_rows} rows left in our data.')

There are 5626 rows left in our data.

### Cleaning Steps

We are going to "tokenize" and "lemmatize" our data. Tokenizing splits it up into distinct word-sized chunks. Lemmatization reduces words into their linguistic base without losing context. We avoided stemming because we believed it would cost us useful context. For instance long words such as emergency lemmatize to "emergency" and not "emerge", as would be the case with stemming. 

During this process:

- All strings will be converted to lower case
- All punctuation will be removed
- All numeric digits will be removed

Additionally, all single letters, stop words, and words which bear no meaning in our context such as `http` or `www` will also be removed with the function we have created below.

In [15]:
#Instantiating Lemmatizer
lemmatizer = WordNetLemmatizer()

clean_words = []

#Iterating through each row
for rows in df['text']:
    
    #Removing URL in each tweet
    result_url = re.sub(r"http\S+", "", rows)
    
    #Removing Retweet in each tweet
    result_tweet = re.sub(r"@\S+", "", result_url)

    #Instantiate Tokenizer with Regex specifying to get full words but exclude digits
    tokenizer = RegexpTokenizer(r'\b[^\d\W]+\b')
    
    #Run Tokenizer on each row and converting each row into lower case 
    rows_token = tokenizer.tokenize(result_tweet.lower())
    
    #Lemmatize words
    words = [lemmatizer.lemmatize(token) for token in rows_token]
    
    #Convert the stop words to a set.
    stops = set(stopwords.words('english'))
    
    #Remove stop words.
    meaningful_words_1 = [word for word in words if word not in stops]
    
    #Elinimating words that are only 1 or 2 syllable
    meaningful_words_2 = [word for word in meaningful_words_1 if len(word) > 2]
    
    #Removing words such as http, com, b, rt 
    words_to_remove = ["https", "http", "www", "html", "com", "occupysandy", "b", "rt", "ave"]
    meaningful_words_3 = [word for word in meaningful_words_2 if word not in words_to_remove]

    #Joining the words back into one string separated by space, 
    clean_word = (" ".join(meaningful_words_3))
    
    #Saving it into a list
    clean_words.append(clean_word)

In [16]:
#Saving clean text in different columsn
df.loc[:,'clean'] = clean_words
df.head()

,id,location,text,timestamp,user,clean
1100,59259141,Boston,Miles Davis to the rescue so,2012-11-11 23:52:07,diediesays,mile davis rescue
1101,516097524,Boston,"@VINNYGUADAGNINO Happy birthday man , really l...",2012-11-11 23:06:45,abdallaxiv,happy birthday man really like effort help res...
1102,17152345,Boston,How You Can Help Sandy's Victims http://bit.ly...,2012-11-11 22:15:20,02458,help sandy victim via
1103,460583099,Boston,"When karma finally hits you in the face, ill b...",2012-11-11 19:37:42,andreap_426,karma finally hit face ill case need help
1104,17246073,Boston,How You Can Help Sandy's Victims http://bit.ly...,2012-11-11 18:15:27,02461,help sandy victim via

In [17]:
#Saving clean data
df.to_csv('../data/df_clean.csv', index=False)